@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
@import url(//db.onlinewebfonts.com/c/1a5c2d8bbd4e28d99a6efcbb9a5b378f?family=JejuMyeongjo);

/* Variables */
:root {
    --primary-color: #011D44;
    --white-color: #FFFFFF;
    --light-gray-color: #EEEEEE;
    --secondary-color: #1B264F;
    --gap: 3rem;
}

/* Animations */
/* Intro main-background: animation */
@keyframes main-bg-animation {
    0% {
        background-position-y: -100px;
    }

    100% {
        background-position: center center;
    }
}

/* Menu title-h1: animation */
@keyframes left-title-intro {
    to {
        transform: translateX(-5px);
    }
}

@keyframes center-title-intro {
    0% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(center);
    }
}

/* Menu-items: animation */
@-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }

/* Menu-items: @media animation */
@-webkit-keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}
/* Grid Certificates Color Change: Animation */
@-webkit-keyframes color-change-2x {
    0% {
      background: #19dcea;
    }
    100% {
      background: #b22cff;
    }
  }
  @keyframes color-change-2x {
    0% {
      background: #19dcea;
    }
    100% {
      background: #b22cff;
    }
  }
/* Classes */
.intro, .about-content, .grid-one-content {
    visibility: hidden;
}

.main-bg {
    background-image: url('../img/main-bg.svg');
    background-size: cover;
    background-position: center center;
    color: var(--white-color);
}

.white-bg {
    background-color: var(--white-color);
    color: var(--primary-color);
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: 10rem var(--gap);
}

.section {
    min-height: 100vh;
}

.menu-spacing {
    height: 6.6rem;
}

.full-width {
    width: 100%;
}

/* Menu Styles Classes */
.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 0.1rem solid var(--light-gray-color);
    z-index: 1;
}

.menu-content {
    padding-top: 0;
    padding-bottom: 0;

	-webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.menu-content .navegation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu h1 {
    font-size: 2.3rem;
    color: var(--primary-color);
}

.menu h1 a {
    color: inherit;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a {
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--primary-color);
    position: relative;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background-color: var(--secondary-color);
    transition: all 300ms ease-in-out;
    border-radius: 0.1rem;
}

.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
}

/* Styles */

#intro-top {
    animation: main-bg-animation 1.5s 0.01s ease;
}

.intro-content {
    position: relative;
    top: -5rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    min-height: 100vh;
}


.intro-text-content, .intro-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.intro-img img {
    max-width: 100%;
    height: 100%;
}

.intro-img {
    width: 100%;
    height: 100%;
}

.about-content {
    max-width: 70rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

#grid-one {
    background-image: url('../img/grid-port-bg.svg');
}

.grid-one-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}

.grid-main-heading {
    margin-bottom: 1rem;
}

.grid-description {
    padding-bottom: 8rem;
}

.grid {
    display: grid;
    gap: var(--gap);
    counter-reset: grid-counter;
}

#certificates .grid {
    grid-template-columns: repeat(3, 1fr);
}

.grid h3 {
    font-size: 3rem;
    position: relative;
    padding-left: 5.5rem;
    padding-bottom: 2rem;
}

.grid h3::before {
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 7rem;
    font-style: italic;
    top: -3.5rem;
    left: -0.5rem;
    transform: rotate(5deg);
}

.grid a {
    color: #007EA7;
}

.certificates {
    width: 100%;
    height: 36rem;
    border-radius: 50px 50px;
    box-shadow: 0 0 5px var(--primary-color);
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all 300ms ease-in-out;
}

.certificates h4 {
    max-height: 100%;
    width: 100%;
    text-align: center;
}

.certificates:hover {
    color: var(--white-color);
    transform: scale(1.035);

    -webkit-animation: color-change-2x 2s linear infinite alternate both;
    animation: color-change-2x 2s linear infinite alternate both;
}

.contact-form {
    grid-column: span 2;
}

.contact-form .form-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
    border: none;
}

#contact .intro-content {
    top: 0;
}

.form-grid legend {
    font-size: 1.4rem;
    margin-bottom: 2rem;
    color: #F7F9F9;
}

.form-group {
    flex: 1 1 320px;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
}

div.full-width {
    flex: 1 1 100%;
}

.form-group input,
.form-group textarea {
    border: none;
    background-color: var(--white-color);
    padding: 1.5rem 2rem;
    width: 100%;
    font-size: 2rem;
    outline: none;
    font-family: 'Nunito', sans-serif;
}

.form-group input:focus,
.form-group textarea:focus {
    box-shadow: 0 0 1rem 0.2rem rebeccapurple;
}

.form-group button {
    border: 0.5rem solid var(--white-color);
    background: none;
    color: var(--white-color);
    padding: 1rem 1.5rem;
    font-size: 2.5rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.form-group button:hover {
    background: var(--white-color);
    color: var(--primary-color);
}

.form-group ::placeholder {
    font-size: 1.5rem;
    color: #D3D0CB;
}

.footer {
    text-align: center;
    font-size: 1.6rem;
}

.footer a {
    color: inherit
}

.footer p {
    margin: 0;
    padding: 3rem;
}

.menu-media {
    display: none;
}

.close-menu {
    display: none;
}

.back-to-top {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    background: var(--white-color);
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 0.1rem solid var(--primary-color);
    z-index: 0;
}

.back-to-top img {
    width: 2rem
}

.intro-text-content a {
    font-style: italic;
    font-size: 1.7rem;
    margin-bottom: 2rem;
    border-bottom: 0.5px solid #E8EBF7;
    color: #F7F9F9;
}